.inputRow {
  display: grid;
  grid-template-columns: var(--label-width) 1fr;
  align-items: center;
  gap: 1rem;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}
